@inject NavigationManager navManager
@inject MediatR.IMediator _mediator


<div class="footer">
    <div class="social-media-icon-container pt-4">
        <div class="icon-wrap">
            <a href="https://twitter.com">
                <image class="icon" src="../images/twitter.png"></image>
            </a>
        </div>
        <div class="icon-wrap">
            <a href="https://facebook.com">
                <image class="icon" src="../images/facebook.png"></image>
            </a>
        </div>
        <div class="icon-wrap">
            <a href="https://linkedin.com">
                <image class="icon" src="../images/linkedin.png"></image>
            </a>
        </div>
        <div class="icon-wrap">
            <a href="https://instagram.com">
                <image class="icon" src="../images/instagram.png"></image>
            </a>
        </div>
        <div class="icon-wrap">
            <a href="https://youtube.com">
                <image class="icon" src="../images/youtube.png"></image>
            </a>
        </div>
    </div>
    <div style="display:flex;justify-content:space-evenly;">
        <div class="contact-item">
            <a style="margin-bottom:1em;" href="/" class="icon-container">
                <image class="fb-icon" src="/images/fbicon.png" />
                <h3 class="name">Bet Book</h3>
            </a>
            <h6 class="title">@copyright</h6>
            <h6 class="title">@lisence</h6>
            <h6 class="title">@city</h6>
            <div class="link-support">
                <a style="text-align:center;" href="mailto:support@betbookgaming.com" subject="Support Ticket">support@betbookgaming.com</a>
            </div>
        </div>
        <div class="trust-logo">
            <img class="trust-image" src="/images/positivessl_trust_seal_lg_222x54.png" alt="team logo">
        </div>
    </div>
    <div class="footer-nav-container">
        <div style="margin-bottom:2em;" class="nav-title-game-container">
            <div>
                <h6 class="nav-title">Create Bet</h6>
            </div>
            <div class="footer-link">
                    @foreach(GameModel game in availableGames)
                {
                    <a class="game-item-nav" @onclick="(() => CreateBet(game.Id))">
                        <h6 class="footer-game-item">@game.AwayTeam?.TeamName @@ @game.HomeTeam?.TeamName</h6>
                    </a>
                }
            </div>
        </div>
            
        <div class="nav-title-game-container">
            <div>
                <h6 class="nav-title">Create Parley Bet</h6>
            </div>
            <div class="footer-link">
                @foreach(GameModel game in availableGames)
                {
                    <a class="game-item-nav" @onclick="CreateParleyBet">
                        <h6 class="footer-game-item">@game.AwayTeam?.TeamName @@ @game.HomeTeam?.TeamName</h6>
                    </a>
                }
            </div>
        </div>
        
        <div style="margin-left:4em;"  class="nav-title-game-container">
            <div>
                <h6 class="nav-title">Profile</h6>
            </div>
            <div class="footer-link">
                <a class="game-item-nav" @onclick="NavigateToSingleProfile">
                    <h6 class="footer-game-item">Single Bets</h6>
                </a>
                <a class="game-item-nav" @onclick="NavigateToParleyProfile">
                    <h6 class="footer-game-item">Parley Bets</h6>
                </a>
            </div>
        </div>

        <div class="nav-title-game-container">
            <div>
                <h6 class="nav-title">About</h6>
            </div>
            <div class="footer-link">
                <a class="game-item-nav" href="/About">
                    <h6 class="footer-game-item">Site Info</h6>
                </a>
                <a class="game-item-nav" href="/About">
                    <h6 class="footer-game-item">Odds</h6>
                </a>
            </div>
           
        </div>
    </div>
</div>


@code {
    [Parameter]
    public UserModel? LoggedInUser { get; set; }
    string copyright = "\u00a9 Copyright Bet Book Gaming Inc.";
    string lisence = "All Rights Reserved. Digital Millennium Copyright Act.";
    string city = "Cincinnati, OH 45248";
    private Season season;
    int week;
    private List<GameModel> availableGames = new();
    private List<GameModel> thisWeeksGames = new();
    protected override async Task OnInitializedAsync()
    {
        season = DateTime.Now.CalculateSeason();
        week = season.CalculateWeek(DateTime.Now);

        thisWeeksGames =
            (List<GameModel>)await _mediator.Send(new GetGameModelsByWeekAndSeasonQuery(week, season));

        availableGames = thisWeeksGames.Where(g =>
            g.GameStatus == GameStatus.NOT_STARTED).ToList();
    }

    private void CreateBet(int gameId)
    {
        if(LoggedInUser is null)
        {
            navManager.NavigateTo("/MicrosoftIdentity/Account/SignIn", true);
            return;
        }
            
        navManager.NavigateTo("..");
        navManager.NavigateTo($"/CreateBet/{gameId}");
    }

    private void CreateParleyBet()
    {
        if (LoggedInUser is null)
        {
            navManager.NavigateTo("/MicrosoftIdentity/Account/SignIn", true);
            return;
        }

        navManager.NavigateTo("..");
        navManager.NavigateTo($"/CreateParleyBet");
    }

    private void NavigateToParleyProfile()
    {
        if (LoggedInUser is null)
        {
            navManager.NavigateTo("/MicrosoftIdentity/Account/SignIn", true);
            return;
        }

        navManager.NavigateTo("..");
        navManager.NavigateTo($"/ProfileParleyBets");
    }

    private void NavigateToSingleProfile()
    {
        if (LoggedInUser is null)
        {
            navManager.NavigateTo("/MicrosoftIdentity/Account/SignIn", true);
            return;
        }

        navManager.NavigateTo("..");
        navManager.NavigateTo($"/ProfileSingleBets");
    }
}
