@inject AuthenticationStateProvider authProvider
@inject IGameData gameData
@inject ITeamData teamData

<div class="game-info-container">
        <h3 style="font-weight: 700;margin-top: .5em;" class="title">Game Details</h3>
    @if(CurrentGame is not null)
    {
        <div style="margin-bottom:1em;">
            <ul class="game-list">
                <li class="team-item">@CurrentGame.AwayTeam.TeamName at @CurrentGame.HomeTeam.TeamName || @CurrentGame.HomeTeam.TeamName @CurrentGame.PointSpreadDescription</li>
                <li class="game-time-date">@CurrentGame.DateOfGameOnly at @CurrentGame.TimeOfGameOnly pm</li>
            </ul>
            <br />
            <div class="records">
                <div class="stat-records">
                    <img style="height:100px;" src="/images/@CurrentGame.AwayTeam.ImagePath" alt="team logo">
                    <div class="stat">
                        <div class="rec-sec">
                            <div style="text-align:center;">
                                <label>Wins</label>
                            </div>
                            <div class="team">
                                @if(CurrentGame.AwayTeam.Wins is not null)
                                {
                                    @if(CurrentGame.AwayTeam.Wins.Split('|').SkipLast(1).ToArray().Length != 0)
                                    {
                                        @foreach(string team in CurrentGame.AwayTeam.Wins.Split('|').SkipLast(1).ToArray())
                                        {
                                            <div class="rec-item">
                                                <h6 style="padding:.5em .5em;">@team</h6>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="rec-item">
                                            <h6 style="padding:.5em .5em;">None</h6>  
                                        </div>  
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="stat">
                        <div class="rec-sec">
                            <div style="text-align:center;">
                                <label>Losses</label>
                            </div>
                            <div class="team">
                                @if(CurrentGame.AwayTeam.Losses is not null)
                                {
                                    @if(CurrentGame.AwayTeam.Losses.Split('|').SkipLast(1).ToArray().Length != 0)
                                    {
                                        @foreach(string team in CurrentGame.AwayTeam.Losses.Split('|').SkipLast(1).ToArray())
                                        {
                                            <div class="rec-item">
                                                <h6 style="padding:.5em .5em;">@team</h6>
                                            </div>
                                            
                                        }
                                    }
                                    else
                                    {
                                        <div class="rec-item">
                                            <h6 style="padding:.5em .5em;">None</h6>  
                                        </div>
                                         
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="stat">
                        <div class="rec-sec">
                            <div style="text-align:center;">
                                <label>Draws</label>
                            </div>
                            <div class="team">
                                @if(CurrentGame.AwayTeam.Draws is not null)
                                {
                                    @if(CurrentGame.AwayTeam.Draws.Split('|').SkipLast(1).ToArray().Length != 0)
                                    {
                                        @foreach(string team in CurrentGame.AwayTeam.Draws.Split('|').SkipLast(1).ToArray())
                                        {
                                            <div class="rec-item">
                                                <h6 style="padding:.5em .5em;">@team</h6>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="rec-item">
                                            <h6 style="padding:.5em .5em;">None</h6>  
                                        </div>   
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
                <div class="stat-records">
                    <img style="height:100px;" src="/images/@CurrentGame.HomeTeam.ImagePath" alt="team logo">
                    <div class="stat">
                          <div class="rec-sec">
                            <div style="text-align:center;">
                                <label>Wins</label>
                            </div>
                            <div class="team">
                                @if(CurrentGame.HomeTeam.Wins is not null)
                                {
                                    @if(CurrentGame.HomeTeam.Wins.Split('|').SkipLast(1).ToArray().Length != 0)
                                    {
                                        @foreach(string team in CurrentGame.HomeTeam.Wins.Split('|').SkipLast(1).ToArray())
                                        {
                                            <div class="rec-item">
                                                <h6 style="padding:.5em .5em;">@team</h6>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="rec-item">
                                            <h6 style="padding:.5em .5em;">None</h6>  
                                        </div>     
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="stat">
                        <div class="rec-sec">
                            <div style="text-align:center;">
                                <label>Losses</label>
                            </div>
                            <div class="team">
                                @if(CurrentGame.HomeTeam.Losses is not null)
                                {
                                    @if(CurrentGame.HomeTeam.Losses.Split('|').SkipLast(1).ToArray().Length != 0)
                                    {
                                        @foreach(string team in CurrentGame.HomeTeam.Losses.Split('|').SkipLast(1).ToArray())
                                        {
                                            <div class="rec-item">
                                                <h6 style="padding:.5em .5em;">@team</h6>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="rec-item">
                                            <h6 style="padding:.5em .5em;">None</h6>  
                                        </div>     
                                    }
                                }
                            </div>
                        </div>
                    </div>
                    <div class="stat">
                        <div class="rec-sec">
                            <div style="text-align:center;">
                                <label>Draws</label>
                            </div>
                            <div class="team">
                                @if(CurrentGame.HomeTeam.Draws is not null)
                                {
                                    @if(CurrentGame.HomeTeam.Draws.Split('|').SkipLast(1).ToArray().Length != 0)
                                    {
                                        @foreach(string team in CurrentGame.HomeTeam.Draws.Split('|').SkipLast(1).ToArray())
                                        {
                                            <div class="rec-item">
                                                <h6 style="padding:.5em .5em;">@team</h6>
                                            </div>
                                        }
                                    }
                                    else
                                    {
                                        <div class="rec-item">
                                            <h6 style="padding:.5em .5em;">None</h6>  
                                        </div>  
                                    }
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }
    
    </div>

@code {

    // Display info for current game being viewed
    [Parameter]
    public GameModel CurrentGame { get; set; } = new();
}





