<CascadingAuthenticationState>
    <Router AppAssembly="@typeof(App).Assembly">
        <Found Context="routeData">
            <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" >
                <NotAuthorized>
                    <NotAuthorized />
                </NotAuthorized>
            </AuthorizeRouteView>
            <FocusOnNavigate RouteData="@routeData" Selector="h1" />
        </Found>
        <NotFound>
            <PageTitle>Not found</PageTitle>
            <LayoutView Layout="@typeof(MainLayout)">
                <p style="text-align:center;font-size:25px;font-weight:700;margin-bottom:16em;margin-top:10em;margin-right:1em;margin-left:1em;" role="alert">You've entered an incorrect address, there's nothing located here.</p>
            </LayoutView>
        </NotFound>
    </Router>
</CascadingAuthenticationState>
