@page "/CreateBet/{GameId}"
@attribute [Authorize]
@using BetBookUI.Helpers
@using Syncfusion.Blazor.Inputs
@inject AuthenticationStateProvider authProvider
@inject IUserData userData
@inject IBetData betData
@inject IGameData gameData
@inject ITeamData teamData
@inject IHouseAccountData houseData
@inject ITeamRecordData recordData

<PageTitle>CreateBet</PageTitle>

@************************************* Demo Display **********************************************@

<div class="game-wager-container">
    <div class="game-info-container">
        <h1 style="margin-left: 1em;margin-top: .5em;" class="title">Game Details</h1>
        <div style="margin-bottom:1em;">
            <ul class="game-list">
                <li class="team-item">@basicGame.AwayTeamName at @basicGame.HomeTeamName || @basicGame.FavoriteTeamName - @basicGame.PointSpread points</li>
            </ul>
            <br />
            <div class="records">
                <div class="fav-records">
                <label style="font-size: 30px;text-align:center;margin-bottom: 1em;">@basicGame.FavoriteTeamName</label>
                <div class="rec-sec">
                    @if(favoriteTeamWins is not null)
                    {
                        <label style="text-align: center;">Wins: @favWinCount</label>
                        <div class="team">
                            @if(favWinCount != 0)
                            {
                                @foreach(var win in favoriteTeamWins)
                                {
                                    <h6>@win| |</h6>
                                }
                            }
                            else
                            {
                                 <h6>None</h6>   
                            }
                        </div>
                    }
                </div>
                <br />
                <div class="rec-sec">
                    @if(favoriteTeamLosses is not null)
                    {
                        <label style="text-align: center;">Losses: @favLossCount</label>
                        <div class="team">
                            @if(favLossCount != 0)
                            {
                                @foreach(var loss in favoriteTeamLosses)
                                {
                                    <h6>@loss| |</h6>
                                }
                            }
                            else
                            {
                                 <h6>None</h6>   
                            }
                        </div>
                    }
                </div>
                <br />
                <div class="rec-sec">
                    @if(favoriteTeamDraws is not null)
                    {
                        <label style="text-align: center;">Draws: @favDrawCount</label>
                        <div class="team">
                            @if(favDrawCount != 0)
                            {
                                @foreach(var draw in favoriteTeamDraws)
                                {
                                    <h6>@draw| |</h6>
                                }
                            }
                            else
                            {
                                 <h6>None</h6>   
                            }
                        </div>
                    }
                </div>
            </div>
            <div class="und-records">
                <label style="font-size: 30px;text-align:center;margin-bottom: 1em;">@basicGame.UnderdogTeamName</label>
                <div class="rec-sec">
                    @if(underdogTeamWins is not null)
                    {
                        <label style="text-align: center;">Wins: @undWinCount</label>
                        <div class="team">
                            @if(undWinCount != 0)
                            {
                                @foreach(var win in underdogTeamWins)
                                {
                                    <h6>@win| |</h6>
                                }
                            }
                            else
                            {
                                 <h6>None</h6>   
                            }
                        </div>
                    }
                </div>
                <br />
                <div class="rec-sec">
                    @if(underdogTeamLosses is not null)
                    {
                        <label style="text-align: center;">Losses: @undLossCount</label>
                        <div class="team">
                            @if(undLossCount != 0)
                            {
                                @foreach(var loss in underdogTeamLosses)
                                {
                                    <h6>@loss| |</h6>
                                }
                            }
                            else
                            {
                                 <h6>None</h6>   
                            }
                        </div>
                    }
                </div>
                <br />
                <div class="rec-sec">
                    @if(underdogTeamDraws is not null)
                    {
                        <label style="text-align: center;">Draws: @undDrawCount</label>
                        <div class="team">
                            @if(undDrawCount != 0)
                            {
                                @foreach(var draw in underdogTeamDraws)
                                {
                                    <h6>@draw| |</h6>
                                }
                            }
                            else
                            {
                                 <h6>None</h6>   
                            }
                        </div>
                    }
                </div>
            </div>
            </div>
        </div>
    </div>
    <div class="wager-form-container">
    <h1 style="margin-left: 1em;margin-top: .5em;" class="title">Create A Wager</h1>
    @if(basicGame is not null)
{
        @if(wagerPlaced == false)
        {
            <div>
                @if(betAmountGood == false)
                {
                    <div style="color:red;text-align:center;">*BET AMOUNT MUST BE MORE THAN ZERO*</div>
                }
                    else if(gameNotStarted == false)
                    {
                        <div style="color:red;text-align:center;">*GAME HAS ALREADY STARTED*</div>
                    }
                <div class="wager-box">
                    <label style="text-align: center;">Wager Amount</label>
                    <input type="number" @bind-value="@betAmount" @bind-value:event="oninput"/>
                </div>
            </div>
        }
        @if (winnerChosen == false)
        {
            <div class="review">
                <p>#1 Enter a wager amount</p>
                <p>#2 Choose a winner</p>
                <p>#3 Click "Submit Wager"</p>
            </div>
            <div class="winner-btn-container">
                <button class="mb-2 mt-2 site-btn btn site-btn-light btn-sm text-uppercase" 
                    @onclick="(() => ChooseWinner(currentGame.FavoriteId))">
                        Choose @basicGame.FavoriteTeamName - @basicGame.PointSpread</button>
                <button class="mb-2 mt-2 site-btn btn site-btn-light btn-sm text-uppercase" 
                    @onclick="(() => ChooseWinner(currentGame.UnderdogId))">
                        Choose @basicGame.UnderdogTeamName + @basicGame.PointSpread</button>
            </div>
        }
        else if(winnerChosen == true && wagerPlaced == false)
        {
            <div class="review">
                <label class="local" style="padding: .25em .25em;margin-bottom: .5em;">Bet Details</label>
                @if(teamToWin is not null)
                {
                        @if(teamToWin.TeamName == basicGame.FavoriteTeamName)
                        {
                            <p>@teamToWin.TeamName - @basicGame.PointSpread points</p>
                        }
                        else
                        {
                            <p>@teamToWin.TeamName + @basicGame.PointSpread points</p>
                        }
                    <p>For $@betAmount</p>
                    <div style="margin-top:3.4em;" class="undo-btn-container">
                        <button class="mb-2 mt-2 undo-btn btn undo-btn-light btn-sm text-uppercase" @onclick="UndoWinnerSelection">Undo @teamToWin.TeamName As Winner</button>
                    </div>
                }
            </div>
        }
        else if(winnerChosen == true && wagerPlaced == true)
        {
            <p style="text-align:center;">Good luck on your new wager! Click "Home" to browse more games.</p>
        }
}
    @if(wagerPlaced == false)
    {
        <div style="padding: 2em .25em;text-align:center;">
            <button class="mt-4 mb-4 site-btn btn site-btn-light btn-sm text-uppercase" @onclick="(() => PlaceWager(betAmount, teamToWin))">Submit Wager</button>
        </div>
    }
    </div>
</div>

@code {

    // Game id parameter from user selected game
    [Parameter]
    public string GameId { get; set; }

    // Actual game id
    private int gameId;

    // Current game being viewed
    private GameModel? currentGame = new();

    // Display info for current game being viewed
    private BasicGameModel basicGame = new();

    // Wins of the favorite
    private List<string> favoriteTeamWins = new();

    // Losses of the favorite
    private List<string> favoriteTeamLosses = new();

    // Draws of the favorite
    private List<string> favoriteTeamDraws = new();

    // Wins of the underdog
    private List<string> underdogTeamWins = new();

    // Losses of the underdog
    private List<string> underdogTeamLosses = new();

    // Draws of the underdog
    private List<string> underdogTeamDraws = new();

    // Current logged in user
    private UserModel loggedInUser;

    // Amount to bet
    public decimal betAmount;

    // Chosen winner of game
    private TeamModel? teamToWin;

    // Boolean sets to true when a winner is chosen
    private bool winnerChosen = false;

    // Account balance of the house
    private HouseAccountModel houseAccount;

    // Boolean to check if wager has been placed
    private bool wagerPlaced = false;

    // Boolean to check if bet amount is good
    private bool betAmountGood = true;

    // Favorite team win count
    private int favWinCount;

    // Favorite team loss count
    private int favLossCount;

    // Favorite team draw count
    private int favDrawCount;

    // Underdog team win count
    private int undWinCount;

    // Underdog team loss count
    private int undLossCount;

    // Underdog team draw count
    private int undDrawCount;

    // 10% vigorish for all bets
    private double VIG = .1;

    // bool to check if game has started
    private bool gameNotStarted = true;

    /// <summary>
    ///     Async initialization method
    /// </summary>
    /// <returns></returns>
    protected async override Task OnInitializedAsync()
    {
        loggedInUser = await authProvider.GetUserFromAuth(userData);

        houseAccount = await houseData.GetHouseAccount();

        gameId = int.Parse(GameId);

        currentGame = await gameData.GetGame(gameId);

        await PopulateBasicGameModel(gameId);

        if (currentGame is not null)
            await PopulateTeamRecords();
    }

    /// <summary>
    ///     Async method populates team records
    /// </summary>
    /// <returns></returns>
    private async Task PopulateTeamRecords()
    {
        TeamRecordModel? favRecord = await GetCurrentTeamRecord(currentGame.FavoriteId);
        TeamRecordModel? undRecord = await GetCurrentTeamRecord(currentGame.UnderdogId);

        if(favRecord is not null)
        {
            favoriteTeamWins = favRecord.Wins.Split('|').ToList();
            favoriteTeamWins.RemoveRange(favoriteTeamWins.Count - 1, 1);

            favoriteTeamLosses = favRecord.Losses.Split('|').ToList();
            favoriteTeamLosses.RemoveRange(favoriteTeamLosses.Count - 1, 1);

            favoriteTeamDraws = favRecord.Draws.Split('|').ToList();
            favoriteTeamDraws.RemoveRange(favoriteTeamDraws.Count - 1, 1);

            favWinCount = favoriteTeamWins.Count ;
            favLossCount = favoriteTeamLosses.Count;
            favDrawCount = favoriteTeamDraws.Count;
        }

        if(undRecord is not null)
        {
            underdogTeamWins = undRecord.Wins.Split('|').ToList();
            underdogTeamWins.RemoveRange(underdogTeamWins.Count - 1, 1);

            underdogTeamLosses = undRecord.Losses.Split('|').ToList();
            underdogTeamLosses.RemoveRange(underdogTeamLosses.Count - 1, 1);

            underdogTeamDraws = undRecord.Draws.Split('|').ToList();
            underdogTeamDraws.RemoveRange(underdogTeamDraws.Count - 1, 1);

            undWinCount = underdogTeamWins.Count;
            undLossCount = underdogTeamLosses.Count;
            undDrawCount = underdogTeamDraws.Count;
        }
    }

    /// <summary>
    ///     Async method popluates a basic game model with the team names and 
    ///     point spread of current selected game
    /// </summary>
    /// <param name="gameId">
    ///     int representing the Id of the current game
    /// </param>
    /// <returns></returns>
    private async Task PopulateBasicGameModel(int gameId)
    {
        TeamModel? homeTeam =  await teamData.GetTeam(currentGame.HomeTeamId);
        TeamModel? awayTeam = await teamData.GetTeam(currentGame.AwayTeamId);
        TeamModel? favorite = await teamData.GetTeam(currentGame.FavoriteId);
        TeamModel? underdog = await teamData.GetTeam(currentGame.UnderdogId);

        if( homeTeam is not null && awayTeam is not null 
            && favorite is not null && underdog is not null)
        {
            basicGame.HomeTeamName = homeTeam.TeamName;
            basicGame.AwayTeamName = awayTeam.TeamName;
            basicGame.FavoriteTeamName = favorite.TeamName;
            basicGame.UnderdogTeamName = underdog.TeamName;
            basicGame.PointSpread = currentGame.PointSpread;
        }
    }

    /// <summary>
    ///     Async method gets and returns a team record from the database
    /// </summary>
    /// <param name="teamId">
    ///     int representing the Id of current team
    /// </param>
    /// <returns></returns>
    private async Task<TeamRecordModel?> GetCurrentTeamRecord(int teamId) => 
        await recordData.GetTeamRecord(teamId);


    /// <summary>
    ///     Async method to update bet info, insert a new bet
    ///     into the database, update user account balance, and
    ///     update the house account balance
    /// </summary>
    /// <param name="amountToBet">
    ///     decimal representing the amount of money 
    ///     the user is wagering on the bet
    /// </param>
    /// <param name="teamToWin">
    ///     TeamModel representing the team that the user has chosen
    ///     to be the winner of the game
    /// </param>
    /// <returns></returns>
    private async Task PlaceWager(decimal amountToBet, TeamModel teamToWin)
    {
        if (DateTime.Now < currentGame.DateOfGame)
        {
            if (amountToBet != 0)
            {
                BetModel bet = new();

                bet.BetAmount = amountToBet;
                bet.BetPayout = 
                    (decimal)((double)amountToBet - (double)amountToBet * VIG);
                bet.ChosenWinnerId = teamToWin.Id;
                bet.BettorId = loggedInUser.Id;
                bet.GameId = gameId;
                bet.BetStatus = BetStatus.IN_PROGRESS;
                bet.PayoutStatus = PayoutStatus.UNPAID;

                await betData.InsertBet(bet);

                loggedInUser.AccountBalance -= bet.BetAmount;
                houseAccount.AccountBalance += bet.BetAmount;

                // Update balances of the user and the house
                await userData.UpdateUserAccountBalance(loggedInUser);
                await houseData.UpdateHouseAccount(houseAccount);

                wagerPlaced = true;
                betAmount = Convert.ToDecimal((0).ToString("#.00"));
            }

            else
                betAmountGood = false;
        }

        else
            gameNotStarted = false;
    }

    /// <summary>
    ///     Async method to select chosen winner of game
    ///     and grab that team from the database
    /// </summary>
    /// <param name="teamId">
    ///     int representing the Id of the team being chosen
    /// </param>
    /// <returns></returns>
    private async Task ChooseWinner(int teamId)
    {
        if(teamId == currentGame.FavoriteId)
        {
            teamToWin = await teamData.GetTeam(currentGame.FavoriteId);
            winnerChosen = true;
        }

        else if(teamId == currentGame.UnderdogId)
        {
            teamToWin = await teamData.GetTeam(currentGame.UnderdogId);
            winnerChosen = true;
        }
    }

    /// <summary>
    ///     Syncfusion method for numeric text box on value change
    /// </summary>
    /// <param name="args"></param>
    public void OnChange(Syncfusion.Blazor.Inputs.ChangeEventArgs<decimal> args)
    {
        betAmount = (decimal)args.Value;
        StateHasChanged();
    }

    /// <summary>
    ///     Method reverts a winner selection
    /// </summary>
    private void UndoWinnerSelection()
    {
        teamToWin = null;
        winnerChosen = false;
    }
}
