@page "/Profile"
@attribute [Authorize]
@using BetBookData.Models
@using BetBookData.DataLogic
@using BetBookUI.Helpers
@inject AuthenticationStateProvider authProvider
@inject IHouseAccountData houseData
@inject IBetData betData
@inject IUserData userData
@inject IGameData gameData
@inject ITeamData teamData

<PageTitle>Profile</PageTitle>

@*********************************** Demo Display ******************************************@

<div class="user">
    
    <div class="label-container">
        @if(loggedInUser is not null)
        {
            <h1 class="profile-label">Hello, @loggedInUser.DisplayName! ||</h1>
            <h1 class="bal-label">Balance $@userAccountBalance</h1>
        }
    </div>
    <div class="item">
        <p>Pending Payout: $@totalPendingPayout</p>
    </div>

    <div class="item">
        <p>Pending Refund: $@totalPendingRefund</p>
    </div>

    <div style="text-align: center;margin-bottom: 1em;margin-top: 1em;">
        <button class="site-btn btn site-btn-light btn-sm text-uppercase" @onclick="PayoutUnpaidBets">Collect My Winnings</button>
    </div>

    <div style="text-align: center;margin-bottom: 1em;">
        <button class="site-btn btn site-btn-light btn-sm text-uppercase" @onclick="RefundPushBets">Refund My Push Bets</button>
    </div>
    <div class="divider">
    </div>
    <div class="bets">
        <label style="margin-left: 5.25em;">Open Bets</label>
        @if(bettorInProgressBets.Count != 0)
        {
            @foreach(BasicBetModel bet in bettorInProgressBasicBets)
            {
                <div class="bet">
                    <ul>
                        <li>Chosen Winner || @bet.ChosenWinnerTeamName</li>
                        <li>Final Winner || @bet.FinalWinnerTeamName</li>
                        <li>Wager Amount || @bet.PayoutAmount</li>
                        <li>Point Spread || @bet.Spread</li>
                    </ul>
                </div>
            }
        }
        else
        {
            <div class="bet">
                <p style="margin: 1em 0;">NONE</p>
            </div>
            
        }
        <label style="margin-left: 5.25em;">Winning Unpaid Bets</label>
        @if(winningBetsUnpaid.Count != 0)
        {
            @foreach(BasicBetModel bet in winningBetsUnpaidBasicBets)
            {
                <div class="bet">
                    <ul>
                        <li>Winner Chosen || @bet.ChosenWinnerTeamName</li>
                        <li>Final Winner || @bet.FinalWinnerTeamName</li>
                        <li>Wager Amount || @bet.PayoutAmount</li>
                        <li>Point Spread || @bet.Spread</li>
                    </ul>
                </div>
            }
        }
        else
        {
            <div class="bet">
                <p style="margin: 1em 0;">NONE</p>
            </div>
        }
        <label style="margin-left: 5.25em;">Push Bets Not Yet Refunded</label>
        @if(bettorPushBetsUnpaid.Count != 0)
        {
            @foreach(BasicBetModel bet in bettorPushBetsUnpaidBasicBets)
            {
                <div class="bet">
                    <ul>
                        <li>Winner Chosen || @bet.ChosenWinnerTeamName</li>
                        <li>Final Winner || @bet.FinalWinnerTeamName</li>
                        <li>Wager Amount || @bet.PayoutAmount</li>
                        <li>Point Spread || @bet.Spread</li>
                    </ul>
                </div>
            }
        }
        else
        {
            <div class="bet">
                <p style="margin: 1em 0;">NONE</p>
            </div>
        }
    </div>
</div>

@code {

    /*************************************************************
     *              TODO - Add parley option feature            *
     * **********************************************************/

    /*************************************************************
     *                    TODO - Transactions                   *
     * ***********************************************************/

    // List of winning bets with status "WINNER" and payment status 
    // of "UNPAID" created by user
    private List<BetModel> winningBetsUnpaid = new();

    // List of winning bets created by current user
    private List<BetModel> winningBets = new();

    // List of all bettor bets
    private List<BetModel> bettorBets = new();

    // List of all bettor bets with bet status of "PUSH"
    private List<BetModel> bettorPushBetsUnpaid = new();

    // List of all bettor bets with bet status of "IN_PROGRESS"
    private List<BetModel> bettorInProgressBets = new();

    // List of in progress basic bets
    private List<BasicBetModel> bettorInProgressBasicBets = new();

    // List of winning bets unpaid basic bets
    private List<BasicBetModel> winningBetsUnpaidBasicBets = new();

    // List of push bets unpaid basic bets
    private List<BasicBetModel> bettorPushBetsUnpaidBasicBets = new();

    // Total payout of all bets to be payed out
    private decimal totalPendingPayout;

    // House account
    private HouseAccountModel houseAccount;

    // Current logged in user
    private UserModel loggedInUser;

    // Vig recoup
    private double VIG_RECOUP = .1;

    // User account balance
    private decimal userAccountBalance;

    // Total pending refund from pushed bets
    private decimal totalPendingRefund;

    /// <summary>
    ///     Async initialization method
    /// </summary>
    /// <returns></returns>
    protected async override Task OnInitializedAsync()
    {
        loggedInUser = await authProvider.GetUserFromAuth(userData);

        userAccountBalance = 
            Convert.ToDecimal((loggedInUser.AccountBalance).ToString("#.00"));

        bettorBets = 
            (List<BetModel>) await betData.GetAllBettorBets(loggedInUser.Id);

        await PopulateWinningBets(loggedInUser.Id);

        bettorPushBetsUnpaid = bettorBets.Where(b => 
            b.BetStatus == BetStatus.PUSH && 
            b.PayoutStatus == PayoutStatus.UNPAID).ToList();

        winningBetsUnpaid = winningBets.Where(
            b => b.PayoutStatus == PayoutStatus.UNPAID).ToList();

        bettorInProgressBets = bettorBets.Where(b =>
            b.BetStatus == BetStatus.IN_PROGRESS).ToList();

        totalPendingPayout = CalculateTotalPendingPayout();
        totalPendingRefund = CalculateTotalPendingRefund();

        houseAccount = await houseData.GetHouseAccount();

        await PopulateBasicBets();
    }

    /// <summary>
    ///     Async method populates all basic bet models for display
    /// </summary>
    /// <returns></returns>
    private async Task PopulateBasicBets()
    {
        foreach(BetModel bet in bettorInProgressBets)
        {
            BasicBetModel bb = new();

            TeamModel chosenTeam = await teamData.GetTeam(bet.ChosenWinnerId);
            GameModel gameWagered = await gameData.GetGame(bet.GameId);

            bb.ChosenWinnerTeamName = chosenTeam.TeamName;
            bb.FinalWinnerTeamName = "Game Not Finished";
            bb.Spread = gameWagered.PointSpread;
            bb.PayoutAmount = 
                Convert.ToDecimal((((decimal)VIG_RECOUP) + (bet.BetPayout * 2))
                       .ToString("#.00"));

            bettorInProgressBasicBets.Add(bb);
        }

        foreach(BetModel bet in winningBetsUnpaid)
        {
            BasicBetModel bb = new();

            TeamModel chosenTeam = await teamData.GetTeam(bet.ChosenWinnerId);
            GameModel gameWagered = await gameData.GetGame(bet.GameId);
            TeamModel finalWinner = await teamData.GetTeam(bet.FinalWinnerId);

            bb.ChosenWinnerTeamName = chosenTeam.TeamName;
            bb.FinalWinnerTeamName = finalWinner.TeamName;
            bb.Spread = gameWagered.PointSpread;
            bb.PayoutAmount = 
                Convert.ToDecimal((((decimal)VIG_RECOUP) + (bet.BetPayout * 2))
                       .ToString("#.00"));

            winningBetsUnpaidBasicBets.Add(bb);
        }

        foreach(BetModel bet in bettorPushBetsUnpaid)
        {
            BasicBetModel bb = new();

            TeamModel chosenTeam = await teamData.GetTeam(bet.ChosenWinnerId);
            GameModel gameWagered = await gameData.GetGame(bet.GameId);

            bb.ChosenWinnerTeamName = chosenTeam.TeamName;
            bb.FinalWinnerTeamName = "Push";
            bb.Spread = gameWagered.PointSpread;
            bb.PayoutAmount = 
                Convert.ToDecimal((((decimal)VIG_RECOUP) + (bet.BetPayout * 2))
                       .ToString("#.00"));

            bettorPushBetsUnpaidBasicBets.Add(bb);
        }
    }

    /// <summary>
    ///     Async method pays the user all unpaid 
    ///     payouts
    /// </summary>
    /// <returns></returns>
    private async Task PayoutUnpaidBets()
    {
        houseAccount.AccountBalance -= totalPendingPayout;
        loggedInUser.AccountBalance += totalPendingPayout;

        foreach(BetModel bet in winningBetsUnpaid)
        {
            bet.PayoutStatus = PayoutStatus.PAID;

            await betData.UpdateBet(bet);
        }

        await houseData.UpdateHouseAccount(houseAccount);
        await userData.UpdateUserAccountBalance(loggedInUser);

        userAccountBalance = Convert.ToDecimal((loggedInUser.AccountBalance)
                                    .ToString("#.00"));

        winningBetsUnpaid.Clear();
        totalPendingPayout = Convert.ToDecimal((0).ToString("#.00"));
    }

    /// <summary>
    ///     Async method refunds all unpaid push bets
    /// </summary>
    /// <returns></returns>
    private async Task RefundPushBets()
    {
        houseAccount.AccountBalance -= totalPendingRefund;
        loggedInUser.AccountBalance += totalPendingRefund;

        foreach(BetModel bet in bettorPushBetsUnpaid)
        {
            bet.PayoutStatus = PayoutStatus.PAID;

            await betData.UpdateBet(bet);
        }

        await houseData.UpdateHouseAccount(houseAccount);
        await userData.UpdateUserAccountBalance(loggedInUser);

        loggedInUser = await userData.GetUser(loggedInUser.Id);
        userAccountBalance = 
            Convert.ToDecimal((loggedInUser.AccountBalance).ToString("#.00"));

        bettorPushBetsUnpaid.Clear();
        totalPendingRefund = Convert.ToDecimal((0).ToString("#.00"));
    }

    /// <summary>
    ///     Method calculates and returns the total pending 
    ///     refund for all push bets made by current user
    /// </summary>
    /// <returns>
    ///     decimal represents total pending refund for current user
    /// </returns>
    private decimal CalculateTotalPendingRefund()
    {
        decimal total = 0;

        foreach(BetModel bet in bettorPushBetsUnpaid)
        {
            total += bet.BetPayout;
        }

        total = Convert
            .ToDecimal((total)
            .ToString("#.00"));

        return total;
    }

    /// <summary>
    ///     Method calculates and returns the total pending
    ///     payout for all winning bets made by current user
    /// </summary>
    /// <returns>
    ///     decimal represents the pending payout for current user
    /// </returns>
    private decimal CalculateTotalPendingPayout()
    {
        decimal total = 0;
        decimal totalPayout = 0;

        foreach(BetModel bet in winningBetsUnpaid)
        {
            total += bet.BetPayout;
        }

        totalPayout = Convert
            .ToDecimal((((decimal)VIG_RECOUP * total) + (total * 2))
            .ToString("#.00"));

        return totalPayout;
    }

    /// <summary>
    ///     Async method gets all winning bets made by current user
    /// </summary>
    /// <param name="id">
    ///     int represents id of current user
    /// </param>
    /// <returns></returns>
    private async Task PopulateWinningBets(int id) => winningBets = (List<BetModel>) 
        await betData.GetAllBettorWinningBets(id);
     
}