@page "/About"
@using Syncfusion.Blazor.Grids

<PageTitle>ABOUT</PageTitle>

<h6 class="text-uppercase" style="text-align:center;font-size:30px; font-weight:700;">About</h6>

<div class="about-about">
    <h6 style="font-size:25px;font-weight:700;">
        Bet Book NFL is the first prototype in a line of web and mobile gaming apps. After you create an account, $10,000 will be deposited into your account to place wagers with. This money is not real and is meant to simulate real wagers being placed. Testers that participate by placing wagers at least once a week through the 2022 NFL season and complete a survey once a month will recieve an official Bet Book Gaming NFT in exchange for their feedback. This NFT will grant holders early access, discounts, and special benefits. Please check this info page regularly for updates. If you have any question or suggestions, please email support at <a class="link-support-about" href="mailto:support@betbookgaming.com" subject="Support Ticket">support@betbookgaming.com</a>. Thank you and enjoy!
    </h6>
    <br />
    <h6 style="font-size:25px;font-weight:700;">- Founder of Bet Book Gaming</h6>
</div>

<h6 class="text-uppercase mt-4" style="text-align:center;font-size:30px; font-weight:700;">Odds</h6>
<div class="about-odds">
    <SfGrid DataSource="@OddsList">
        <GridColumns>
            <GridColumn Field="@nameof(Odds.NumberOfGames)"
                        Width="75"
                        HeaderText="# Games"
                        TextAlign="TextAlign.Center">
            </GridColumn>
            <GridColumn Field="@nameof(Odds.Odd)"
                        HeaderText="Odds"
                        TextAlign="TextAlign.Center">
            </GridColumn>
            <GridColumn Field="@nameof(Odds.Example)"
                        Width="140"
                        HeaderText="Example"
                        TextAlign="TextAlign.Center">
            </GridColumn>
            <GridColumn Field="@nameof(Odds.BetType)"
                        HeaderText="Type"
                        TextAlign="TextAlign.Center">
            </GridColumn>
        </GridColumns>
    </SfGrid>
</div>

<style>

    .e-headercell{
        font-family: "Bell MT";
        color: green;
    }

</style>

@code {

    public List<Odds> OddsList { get; set; } = new();

    protected override void OnInitialized()
    {
        OddsList.Add(new Odds()
            {
                NumberOfGames = 1,
                Odd = "1 to 1",
                Example = "$100 => $100",
                BetType = "Single"
            });

        OddsList.Add(new Odds()
            {
                NumberOfGames = 2,
                Odd = "2.6 to 1",
                Example = "$100 => $260",
                BetType = "Parley"
            });

        OddsList.Add(new Odds()
            {
                NumberOfGames = 3,
                Odd = "6 to 1",
                Example = "$100 => $600",
                BetType = "Parley"
            });

        OddsList.Add(new Odds()
            {
                NumberOfGames = 4,
                Odd = "11 to 1",
                Example = "$100 => $1100",
                BetType = "Parley"
            });

        OddsList.Add(new Odds()
        {
            NumberOfGames = 5,
            Odd = "22 to 1",
            Example = "$100 => $2200",
            BetType = "Parley"
        });
    }

    public class Odds
    {
        public int NumberOfGames { get; set; }
        public string? Odd { get; set; }
        public string? Example { get; set; }
        public string? BetType { get; set; }
    }
}
